(common) {
	php_fastcgi php:9000
	encode zstd gzip
	file_server
}

(kirby) {
	@blocked {
		path /content/* /site/* /kirby/* /.*
	}
	error @blocked "Not found" 404
	handle_errors {
		rewrite * /error # This should reference your Kirby error page
		import common
	}
}

:80 {
	import common
	import kirby
	root * /usr/share/caddy
	tls internal
}
